/* HEADER */
header{
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    align-items: center;

}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
}

nav ul li a:hover{
    color:brown
}

.finder{
    border-radius: 30px;
    width: 900px;
    height: 35px;
    font-size: 18px;
}

#notifications{
    padding-left: 10px;
    padding-right: 10px;
}

#message{
    padding-left: 10px;
    padding-right: 10px;
}

#profile-img{
    padding-left: 10px;
    padding-right: 10px;
}